@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/ubuntu.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.toolbar {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 100px 0px 0px 10px;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 60px;
    flex-wrap: wrap;
}

.toolbar input[type="range"] {
    width: 100%;
}

.brush-title {
    font-size: 14px;
    color: #333;
    display: flex;
    margin-right: 10px;

    img {
        margin-right: 10px;
    }

    label {
        margin-right: 10px;
        display: flex;
    }
}

#colorWheel {
    margin-bottom: 15px;
}

.topBar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 0px 0px 10px 10px;
    position: fixed;
    top: 0;
}

.topBar button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 1px;
    border-radius: 4px;
    cursor: pointer;

    display: flex;

    img {
        padding-right: 3px;
    }
}

.topBar button:hover {
    background-color: #0056b3;
}

.topBar p {
    margin-left: 20px;
    font-size: 14px;
    color: #333;
}

canvas {
    height: 100%;
    width: 100%;

    border: 1px solid #000;
    background-color: #fff;
}

#toggleToolsBtn {
    width: 60px;
    height: 60px;
    position: fixed;
    right: 30px;
    bottom: 60px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    user-select: none;
}

.topBar,
.toolbar {
    display: none;
}

/* ////////////////// */
#paintCanvas {
    cursor: none;
}

#brushCursor {
    display: none;
    position: absolute;
    pointer-events: none;
    border-radius: 50%;
    background-color: red;
    width: 10px;
    height: 10px;
    transform: translate(-50%, -50%);
    z-index: 9999;
    border: #777 solid 1px;
}

/* ////////////////// */
#toggleEraserBtn {
    background-color: #e74c3c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

#toggleEraserBtn.active {
    background-color: #3498db;
}

.disabled-color-wheel {
    pointer-events: none;
    opacity: 0.5;
}